header
    nav.container
        a(href='#').brand-logo.valign-wrapper
            img(src='https://i.imgur.com/E6eKuI4.jpg', alt='Logo del blog').responsive-img.left.z-depth-2
        ul.right.valign-wrapper
            +link('About Us')
            +link('Contact')
            li.btn
                a(href='#') REGISTER
    section.header-main-pic.z-depth-2