main.container
    section
        .section
            .row
                .col.m7.input-field.input-container
                    i.material-icons search
                    input(id='search', type="text", placeholder='Search')
    section
        .row
            +card('Discover the world!', 'The world is an amazing place to live!', 'https://i.imgur.com/oVc5kNt.jpg','../post')
            +card('Discover the world!', 'The world is an amazing place to live!', 'https://i.imgur.com/uPyvce0.jpg','https://google.com.do')
            +card('Discover the world!', 'The world is an amazing place to live!', 'https://i.imgur.com/u9TJvCg.jpg','https://google.com.do')
            +card('Discover the world!', 'The world is an amazing place to live!', 'https://i.imgur.com/xzMutHa.jpg','https://google.com.do')
            +card('Discover the world!', 'The world is an amazing place to live!', 'https://i.imgur.com/kzutF7P.jpg','https://google.com.do')
            +card('Discover the world!', 'The world is an amazing place to live!', 'https://i.imgur.com/myqmYSi.jpg','https://google.com.do')