main.container
    section
        .section
            .row
                .col.m7.input-field.input-container
                    i.material-icons search
                    input(id='search', type="text", placeholder='Search')
    section
        .row
            article.col.l4.m6.s12
                .card
                    .card-image.waves-effect.waves-block.waves-light
                        img(src='https://i.imgur.com/oVc5kNt.jpg').activator